@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*@import url('https://fonts.googleapis.com/css?family=Rancho');*/
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'); */
/*.rancho {font-family: 'Rancho', cursive;}*/
.quicksand { font-family: 'Quicksand', sans-serif;}
body, html { font-size: 16px;}
body .roboto,
.content,
.btn,
.bar,
.side-nav { font-family: 'Roboto', sans-serif;}
.side-nav {}
.side-nav li>a { padding-left: 15px; padding-right: 10px;}
.side-nav .userView p { margin-bottom: 0;}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    margin: 15px auto;
}
.no-padding { padding: 0;}
.overlay { position: absolute; width: 100%; height: 100%; left: 0; right: 0; top: 0; bottom: 0; z-index: 99; background: rgba(100,100,100,0.5);}
.splash {
    background-image: url("../images/splash-back.png");
    background-size: 100%;
    padding: 70px 0;
    text-align: center;
    color: #fff;
}

.splash h3 {
    text-shadow: 0px 3px #428bca;
    font-weight: 400;
}

.bar-nav {
    background-color: #295e8c;
    border-bottom: 1px solid #295e8c;
}

.bar-nav .title {
    color: #fff;
}

.bar-footer {
    background: none;
    border: none;
}

.content {
    background: none; position: relative; min-height: 400px; min-height: 85vh;
}
.btn {
    font-size: 20px;
    border-radius: 0;
}
.content .btn {
    /*margin-top: 12px;*/
    font-size: 20px;
    /*color: #fff;*/
    /*background-color: #999999;*/
    border-radius: 0;
	font-family: 'Quicksand', sans-serif;
}

.content .btn-primary {
    background: rgba(255, 255, 255, 0.5);
    color: #295e8c;
    border-color: #aaa;
}

.order {
    background: url("../images/home-logo.png") no-repeat center;
    background-size: 90%;
    /*background-position: center;*/
}

.form-background {
    padding: 10px 5px 15px;
    margin-bottom: 15px;
}

.form-background fieldset {
    margin-bottom: 10px;
}
/* 
.footer-button {
    position: absolute;
    bottom: -20px;
    width: 90%;
} */

.pink.darken-4 {
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Quicksand', sans-serif;
}

.order textarea.materialize-textarea {
    padding: 0;
    min-height: 0;
    margin: 0;
}

.input-group input,
.input-group select {
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    height: 35px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #993366;
    background: none;
    font-family: 'Roboto', sans-serif;
}
.input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/arrow-down.png) no-repeat 98% 50%;
    -webkit-background-size: 32px;
    background-size: 32px;
    font-size: 1em;
}
select:focus { outline: none;}

label.error { display: none; visibility: hidden; opacity: 0;}
/*label.error + label { color: #c00;}*/
/*label.error + label.active { color: #999;}*/
input.error + .error { color: #c00;}
input.error + .error + label { color: #c00;}
input.valid + label { color: #999;}
input.error { border-bottom-color: #c00;}

.order .btn-primary {
    border-radius: 0;
    background: #295e8c;
    color: #fff;
    border-color: #295e8c;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.buttons .btn {
    margin-bottom: 0;
}

.btn-block { width: 100%;}
.btn-floating.small { width: 32px; height: 32px; line-height: 32px;}
.btn-floating.small i { line-height: 32px;}

.modal .modal-content { padding: 10px;}
.modal .modal-footer { text-align: center;}
.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat { float: none;}
/*.content-padded .input-group { margin-left: -10px; margin-right: -10px;}*/

/*datepicker*/
.picker__date-display { display: none;}
.autocomplete-content { margin-top: 0;}

.collection .collection-item.icon { min-height: 36px; padding-left: 36px; position: relative;}
.collection .collection-item.icon .icon { position: absolute; width: 32px; height: 32px; line-height: 1.25; font-size: 18px; position: absolute; left: 10px; color: #ccc;}

.card .collection { margin-left: -13px; margin-right: -13px; margin-bottom: 0;}
.card .collection .collection-item { padding-top: 6px; padding-right: 12px; padding-bottom: 6px; }
.card .card-title, .order-history .title { margin-top: 0; margin-bottom: 5px;}
.card .card-content { min-height: 150px;}
.card .card-content,
.card .card-action,
.card .card-reveal { padding: 8px 12px;}
.card .card-content p { margin-bottom: 2px;}
.card .card-reveal p { margin-top: 2px; margin-bottom: 0px;}
.card .card-action a { text-transform: none !important;}
.card .card-content.no-padding,
.card .card-action.no-padding { padding: 0;}

#newitems .collection-header { padding: 10px;}
#newitems .collection-header h4,
#newitems .collection-header h5 { margin: 0;}
.collection .collection-item.row { padding-left: 10px; padding-right: 10px;}

.order-history .collection .collection-header,
.order-history .collection .collection-item { padding-left: 10px; padding-right: 10px;}
.order-history .collection .collection-item { padding-top: 5px; padding-bottom: 5px;}


.order-history td, 
.order-history th { padding: 5px 0;}
.order-history p { margin: 0 0 3px;}

.tag { padding: 1px 6px 2px; font-size: 14px; line-height: normal; color: #fff; display: inline-block; background: #f3f3f3; border-radius: 2px;}