@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');*/
@import url('https://fonts.googleapis.com/css?family=Rancho');
.rancho {font-family: 'Rancho', cursive;}
body .roboto,
.content,
.btn,
.bar,
.side-nav {
    font-family: 'Roboto', sans-serif;
}
.side-nav {}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    margin: 30px auto;
}
.overlay { position: absolute; width: 100%; height: 100%; left: 0; right: 0; top: 0; bottom: 0; z-index: 99; background: rgba(100,100,100,0.5);}
.splash {
    background-image: url("../images/splash-back.png");
    background-size: 100%;
    padding: 70px 0;
    text-align: center;
    color: #fff;
}

.splash h3 {
    text-shadow: 0px 3px #428bca;
    font-weight: 400;
}

.bar-nav {
    background-color: #295e8c;
    border-bottom: 1px solid #295e8c;
}

.bar-nav .title {
    color: #fff;
}

.bar-footer {
    background: none;
    border: none;
}

.content {
    background: none;
}

.content .btn {
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
    background-color: #999999;
    border-radius: 0;
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Rancho', cursive;
}

.content .btn-primary {
    background: rgba(255, 255, 255, 0.5);
    color: #295e8c;
    border-color: #aaa;
}

.order {
    margin-top: 30px;
    background: url("../images/home-logo.png") no-repeat center;
    background-size: 100%;
    background-position: inherit;
}

.form-background {
    background: url("../images/input-back.png");
    padding: 5px 5px 15px;
}


/* 
.footer-button {
    position: absolute;
    bottom: -20px;
    width: 90%;
} */

.pink.darken-4 {
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Rancho', cursive;
}

.order textarea.materialize-textarea {
    padding: 0;
    min-height: 0;
    margin: 0;
}

.input-group input,
.input-group select {
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    height: 35px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #993366;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/arrow-down.png) no-repeat 98% 50%;
    -webkit-background-size: 32px;
    background-size: 32px;
    font-size: 1em;
}

.order .btn-primary {
    border-radius: 0;
    background: #295e8c;
    color: #fff;
    border-color: #295e8c;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.buttons .btn {
    margin-bottom: 0;
}

.btn-block { width: 100%;}

.modal.bottom-sheet .modal-content { padding: 10px;}
/*.content-padded .input-group { margin-left: -10px; margin-right: -10px;}*/
