<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WOW Products Page</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" > -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/material-icons.css">
    <link rel="stylesheet" type="text/css" href="css/pignose.calendar.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/mobile.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/pignose.calendar.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var currdate = new Date() - 86400000;
        $('#orderDate').pignoseCalendar({
            format: 'DD-MM-YYYY',
            minDate: currdate,
            buttons: true,
            date: moment()
        });
        // console.log(currdate);
        // $('select').material_select();
        $('.sidenav').sidenav({
            edge: 'right'
        });

        $('.modal').modal();

        if (sessionStorage.getItem('sales_person_id')) {
            // console.log(sessionStorage.getItem('email'));
        } else {
            window.location.assign('login.html');
        };

        $('.pushpin-nav').pushpin({
            top: 64,
        });

    });
    </script>
</head>

<body>
    <div id="products">
        <nav>
            <div class="nav-wrapper red darken-2">
                <a href="#!" class="brand-logo center">Products</a>
                <ul id="nav-mobile" class="left">
                    <li><a href="#" onclick="window.history.back()"><i class="mdi-arrow_back "></i></a></li>
                    <li><a href="home.html"><i class="mdi-home "></i></a></li>
                </ul>
                <ul class="right">
                    <li><a href="#" v-on:click="showFilter()"><i class="mdi-filter_list"></i></a></li>
                    <li><a href="#" data-activates="slide-out" data-target="slide-out" class="sidenav-trigger"><i class="mdi-shopping_basket"></i><!-- <small class="badge red-text text-lighten-3">{{orderItems.length}}</small> --></a></li>
                </ul>
            </div>
        </nav>
        <div class="">
            
        </div>
        <div id="blue" class="content order">
            <div class="pushpin-nav red lighten-4" data-target="blue" v-show="filter" style="width: 100%; z-index: 9;">
                <div class="z-depth-2 row" style="margin-bottom: 0;">
                    <div class="col s6">
                        <i class="mdi mdi-filter_list"></i>
                        <span>Category</span>
                        <div class="input-field ">
                            <select class="browser-default" v-model.lazy="mycat" v-on:change="prodList()">
                                <option v-for="item in category" v-bind:value="item.category_id">{{item.category_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s4">
                        <i class="mdi mdi-sort"></i>
                        <span>Sort</span>
                        <div class="input-field ">
                            <select name="sort" id="sort" class="browser-default" v-model="sort" v-on:change="prodList()">
                                <option value="">Sort by</option>
                                <option value="a-z">Name A-Z</option>
                                <option value="z-a">Name Z-A</option>
                                <option value="low-high">$ Low-High</option>
                                <option value="high-low">$ High-Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s2 center-align"><i class="mdi mdi-shopping"></i> Cart
                        <div class="input-field">
                            <a href="#" data-activates="slide-out" data-target="slide-out" class="sidenav-trigger btn-floating waves-effect waves-light red"><span class=" red-text text-lighten-4">{{orderItems.length}}</span></a>
                        </div>
                    </div>
                    <div class="col s10">
                        <div class="input-field">
                            <input type="text" v-model="search" placeholder="Search" class="grey lighten-5">
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="input-field center-align">
                            <button class="btn btn-block waves-effect waves-light" style="height: 48px; line-height: 48px;" v-on:click="filterOut()">
                                <i class="mdi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress " v-bind:class="{hide:!loader}">
                <div class="indeterminate"></div>
            </div>
            <div class="chip red lighten-3 " v-show="message" style="width:100%;">{{message}}</div>
            <div class="overlay " v-bind:class="{hide:!loader}"></div>
            <div id="itemList" class="row">
                <!-- <div class="col s6 m4"></div> -->
                <div class="col s6 m4 l3" v-for="item in products" v-bind:id="item.product_id">
                    <div class="card medium">
                        <a class="card-image" style="display: block;" v-bind:href="imgpath+item.item_image" v-bind:style="{backgroundImage: 'url('+(item.item_image?imgpath+item.item_image:noimage)+')' }">
                            <!-- <img class="responsive-img" v-bind:src="(item.item_image?imgpath+item.item_image:noimage)" v-bind:alt="item.item_image" data-caption="item.item_description"> --><span class="card-title red-text">{{item.item_name}}</span>
                        </a>
                        <div class="card-content">
                            <ul class="">
                                <li class="collection-item"><small class="grey-text">Item Code </small>{{item.item_code}}</li>
                                <li class="collection-item"><small class="grey-text">Model No. </small>{{item.item_model_no}}</li>
                                <li class="collection-item"><small class="grey-text">Description </small>
                                    <br>{{item.item_description}}</li>
                                <li class="collection-item row">
                                    <div class="col s6"><small class=" grey-text">Price </small>
                                        <br>{{item.item_priceA}}</div>
                                    <div class="col s6"><small class=" grey-text">Avail Qty </small>
                                        <br>{{item.item_available_qty}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <button class="waves-effect waves-light btn btn-block green lighten-1 " v-bind:data-id="item.product_id" v-bind:data-price="item.item_priceA" v-bind:data-code="item.item_code" v-bind:data-avail="item.item_available_qty" v-bind:data-ctn="item.item_ctn" v-if="item.item_available_qty > 0 && item.item_priceA > 0" v-on:click="addtoOrderlist($event)"><i class="mdi-add_shopping_cart"></i></button>
                            <!-- <p class="center-align grey-text " style="margin: 6px 0;" v-else-if="item.item_priceA == '0.00'"><i class="mdi-highlight_off"></i> Not available</p> -->
                            <p class="center-align grey-text " style="margin: 6px 0;" v-else-if="item.status!='enabled'"><i class="mdi-highlight_off"></i> Not available</p>
                            <p class="center-align grey-text " style="margin: 6px 0;" v-else><i class="mdi-remove_shopping_cart"></i> Not available</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="mdi-chevron_left"></i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="mdi-chevron_right"></i></a></li>
            </ul> -->
            
        </div>
        <!-- Modal Structure -->
        <div id="cartModal" class="modal bottom-sheet">
            <div class="modal-content ">
                <h6>Review your selection {{prodId}}</h6>
                <form action="" id="cartForm" data-pid="">
                    <div class="row" style="margin: 0;">
                        <div class="col s4" style="padding-left: 0;">
                            <div class="input-field">
                                <input type="text" name="itemPrice" id="itemPrice" v-model="itemPrice" readonly="" placeholder="Price">
                                <label for="itemPrice" class="active">Price</label>
                            </div>
                        </div>
                        <div class="col s3" style="padding-left: 0;">
                            <div class="input-field">
                                <input type="number" name="itemQty" id="itemQty" v-model="itemQty" value="1" min="1" >
                                <label for="itemQty" class="active">QTY </label>
                                
                            </div>
                        </div>
                        <div class="col s5" style="padding: 0;">
                            <div class="input-field">
                                <input type="text" name="itemSubtotal" id="itemSubtotal" readonly="" v-bind:value="subtotal">
                                <label for="itemSubtotal" class="active">Subtotal</label>
                            </div>
                        </div>
                        <div class="col s12" style="padding: 0">
                            <div class="input-field" style="margin: -15px 0 0;">
                                <span class="helper-text" >Available QTY {{itemAvail}} &mdash; 1 carton contains {{itemCTN}} pieces</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a> -->
                <button class="btn btn-large btn-block waves-effect waves-light green" v-on:click="addToOrders()"><i class=" mdi-add_shopping_cart"></i> Add to Orders</button>
            </div>
        </div>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/background.png">
                    </div>
                    <a href="#user"><img class="circle" src="images/wow-logo.jpg"></a>
                    <p class="white-text"> Order List</p>
                </div>
            </li>
            <li><a class="subheader">Items <span class="blue-text">{{orderItems.length}}</span> &mdash; QTY <span class="blue-text">{{totalQty}}</span> &mdash; G Total <span class="blue-text ">{{grandTotal}}</span></a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li v-for="(item, index) in orderItems" v-bind:key="item.product_id"><a href="#" ><span class="blue-text">{{item.prod_code}}</span> - {{item.product_price}} x {{item.product_qty}} = {{item.subtotal}} <i class="small mdi-close red-text right" v-on:click="remove(index)"></i></a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="row">
                <div class="col s10 input-field ">
                    <select name="stores" id="stores" v-model="mystore" class="browser-default">
                        <option v-for="store in stores" v-bind:value="store.store_id">{{store.store_name}}</option>
                    </select>
                    <label for="stores" class="active">Select Store </label>
                </div>
                <div class="col s2 input-field">{{mystore}}
                    <label class="active">ID </label>
                </div>
                <div class="col s12">
                    <ul style=" font-size: 14px;" v-show="mystore">
                        <li style="line-height: 1.5; "><i class="mdi-person_outline blue-text"></i> {{storeDetail.cont_person}}</li>
                        <li style="line-height: 1.5; "><i class="mdi-mail_outline blue-text"></i> {{storeDetail.store_email}}</li>
                        <li style="line-height: 1.5; "><i class="mdi-phone blue-text"></i> {{storeDetail.store_phoneno}}</li>
                        <li style="line-height: 1.5; "><i class="mdi-my_location blue-text"></i> {{storeDetail.store_location}}</li>
                    </ul></div>
            </li>
            
            <li v-if="grandtotal > 0"><a class="btn green waves-effect " v-on:click="order">Order Now</a></li>
        </ul>
        <div class="fixed-action-btn">
            <a href="#" id="gotop" class="btn-floating btn-large waves-effect waves-light orange"><i class="mdi-arrow_upward"></i></a>
            <!-- <ul>
                <li><a class="btn-floating red"><i class="mdi-insert_chart"></i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="mdi-format_quote"></i></a></li>
                <li><a class="btn-floating green"><i class="mdi-publish"></i></a></li>
                <li><a class="btn-floating blue"><i class="mdi-attach_file"></i></a></li>
            </ul> -->
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript">
    var products = new Vue({
        el: '#products',
        data: {
            stores: [],
            mystore: '',
            mystoredata:{},
            filter: false,
            category: [],
            mycat: '',
            sort:'',
            search:'',
            products: [],
            imgpath: 'http://wowitprojects.com/wowMobile/images/test_pic/',
            noimage: 'http://wowitprojects.com/wowMobile/wowapp/images/placeholder-400x300.jpg',
            loader: true,
            message:'',
            modal: false,
            prodId: '',
            prodCode:'',
            itemPrice: 0.5,
            itemQty: 1,
            itemAvail:'',
            itemCTN:'',
            itemSubtotal: 0,
            orderItems: [],
            totalqty: 0,
            grandtotal: 0.00
        },
        mounted: function() {
            console.log("mounted");
            /*get categories*/
            axios.post('http://wowitprojects.com/wowMobile/wowstoreadmin/apis/category_list.php')
            .then((response) => {
                // console.log(response);
                this.category = response.data.data;
                // console.log(this.category);
                this.loader = false;
                this.mycat = 9;
                this.prodList();
            }, (error) => {
                console.log(error);
                alert(error)
            });

            /*get stores*/
            axios.post('http://wowitprojects.com/wowMobile/wowstoreadmin/apis/store_list.php')
            .then((result) => {
                // console.log(result.data);
                this.stores = result.data.data;
            }, (error) => {});
            /*popup*/
        },
        updated: function() {
            console.log(" updated");
            $('.card-image').magnificPopup({type:'image'});
            /*this.attachImagePopup();*/
        },
        computed: {
            subtotal: function() {
                this.itemSubtotal = (this.itemPrice * this.itemQty).toFixed(2);
                window.sessionStorage.setItem('orderItems', JSON.stringify(this.orderItems));
                return this.itemSubtotal;
            },
            totalQty: function() {
                this.totalqty = 0;
                for (var i = 0; i < this.orderItems.length; i++) {
                    this.totalqty += Number(this.orderItems[i].product_qty);
                }
                // console.log(this.totalqty);
                return this.totalqty;
            },
            grandTotal: function() {
                // alert(this.orderItems.length);
                this.grandtotal = 0.00;
                for (var i = 0; i < this.orderItems.length; i++) {
                    this.grandtotal += Number(this.orderItems[i].subtotal);
                }
                // console.log(this.grandtotal);
                return (this.grandtotal).toFixed(2);
            },
            storeDetail: function() {
                for (var i = 0; i < this.stores.length; i++) {
                    if (this.stores[i].store_id == this.mystore) {
                        this.mystoredata.cont_person = this.stores[i].cont_person;
                        this.mystoredata.store_email = this.stores[i].store_email;
                        this.mystoredata.store_phoneno = this.stores[i].store_phoneno;
                        // this.mystoredata.store_city = this.stores[i].store_city;
                        this.mystoredata.store_location = this.stores[i].store_city +', '+ this.stores[i].store_state;
                        break;
                    }
                }
                
                return this.mystoredata;
            }
        },
        methods: {
            showFilter: function() {
                this.filter = !this.filter;
                // console.log(this.filter);
            },
            filterOut: function() {
                // this.search
                this.loader = true;
                this.message = '';
                axios.post('http://wowitprojects.com/wowMobile/wowstoreadmin/apis/product_list.php', { "categeory_id": this.mycat, "sort":this.sort, "filterBy":this.search })
                    .then((result) => {
                        // console.log(result);
                        console.log(result.data.total);
                        if (result.data.status == 1) {
                            this.products = result.data.data;
                            this.loader = false;
                        } else if(result.data.status == 0) {
                            this.products = '';
                            this.message = result.data.error;
                            this.loader = false;
                        } else{
                            this.message = "Error";
                            this.loader = false;
                        }
                    }, (error) => {
                        alert(error);
                    })
            },
            prodList: function() {
                this.loader = true;
                this.message = '';
                axios.post('http://wowitprojects.com/wowMobile/wowstoreadmin/apis/product_list.php', { "categeory_id": this.mycat, "sort":this.sort, "filterBy":this.search })
                    .then((result) => {
                        /*console.log(result.data.total);*/
                        if (result.data.status == 1) {
                            this.products = result.data.data;
                            this.loader = false;
                        } else if(result.data.status == 0) {
                            this.message = result.data.error;
                            this.loader = false;
                        } else{
                            this.message = "Error";
                            this.loader = false;
                        }
                    }, (error) => {
                        alert(error);
                    })
            },
            /*itemQtyValidate: function() {
                if (this.itemQty > this.itemAvail) {
                    alert("Qty should not be more than available qty.");
                    this.itemQty = this.itemAvail;
                    return this.itemQty;
                }
            },*/
            addtoOrderlist: function(e) {
                /*var id = e.target.getAttribute('data-id');
                var price = e.target.getAttribute('data-price');*/
                var id = $(e.target).data('id');
                var code = $(e.target).data('code');
                var price = $(e.target).data('price');
                var avail = $(e.target).data('avail');
                var carton = $(e.target).data('ctn');
                this.prodId = id;
                this.prodCode = code;
                this.itemPrice = price;
                this.itemAvail = avail;
                this.itemCTN = carton;
                $("#cartModal").modal('open');
            },
            addToOrders: function() {
                var prodObj = {
                    "categeory_id": this.mycat,
                    "product_id": this.prodId,
                    "prod_code": this.prodCode,
                    "product_qty": this.itemQty,
                    "product_price": this.itemPrice,
                    "subtotal": this.itemSubtotal
                };
                if (this.itemQty > this.itemAvail) {
                    alert("Qty should not be more than "+this.itemAvail);
                    this.itemQty = this.itemAvail;
                    // return this.itemQty;
                }else{
                    this.orderItems.push(prodObj);
                    // console.log(this.orderItems);
                    $("#cartModal").modal('close');
                    M.toast({html: 'Item added successfully!'});
                }
            },
            remove: function(index) {
                this.orderItems.splice(index, 1);
            },
            order: function() {
                var orderData = {
                    "sales_person_id": sessionStorage.getItem('sales_person_id'),
                    "store_id": this.mystore,
                    "total_qty": this.totalqty,
                    "grand_price": this.grandtotal,
                    "items": this.orderItems
                };
                axios.post('http://wowitprojects.com/wowMobile/wowstoreadmin/apis/order.php', orderData).then((result) => {
                    console.log(result.data);
                    if (result.data.status == 1) {
                        alert(result.data.data);
                        this.orderItems = [];
                        window.location.assign('orderhistory.html');
                    } else {
                        alert(result.data.data);
                    }
                }, (error) => { alert(error) });

            }
        }

    })

    jQuery(function($) {
        // $(".progress").addClass("hide");
        $(".progress, .overlay").removeClass("hide");

        var sData = {
            "sales_person_id": sessionStorage.getItem('sales_person_id')
        };

        $('.fixed-action-btn').floatingActionButton({
            // toolbarEnabled: true,
            hoverEnabled: false
        });
        $("#gotop").on('click', function(event) {
            event.preventDefault();
            $('body, html').animate({scrollTop: 0}, 'slow')
        });
    })
    </script>
</body>

</html>
